<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inscripcion-heading" data-cy="InscripcionCreateUpdateHeading" jhiTranslate="gesconApp.inscripcion.home.createOrEditLabel">
        Create or edit a Inscripcion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.codigo" for="field_codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigo')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 9 }"
            >
              This field is required to be at least 9 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigo')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 9 }"
            >
              This field cannot be longer than 9 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'gesconApp.InscripcionEstado.null' | translate }}</option>
            <option *ngFor="let inscripcionEstado of inscripcionEstadoValues" [value]="inscripcionEstado">
              {{ 'gesconApp.InscripcionEstado.' + inscripcionEstado | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.numeroDocumento" for="field_numeroDocumento"
            >Numero Documento</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDocumento"
            id="field_numeroDocumento"
            data-cy="numeroDocumento"
            formControlName="numeroDocumento"
          />
          <div
            *ngIf="
              editForm.get('numeroDocumento')!.invalid &&
              (editForm.get('numeroDocumento')!.dirty || editForm.get('numeroDocumento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDocumento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDocumento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.fecha" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.costoTotal" for="field_costoTotal">Costo Total</label>
          <input
            type="number"
            class="form-control"
            name="costoTotal"
            id="field_costoTotal"
            data-cy="costoTotal"
            formControlName="costoTotal"
          />
          <div *ngIf="editForm.get('costoTotal')!.invalid && (editForm.get('costoTotal')!.dirty || editForm.get('costoTotal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('costoTotal')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('costoTotal')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 10000 }"
            >
              This field cannot be more than 10000.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('costoTotal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcion.alumno" for="field_alumno">Alumno</label>
          <select class="form-control" id="field_alumno" data-cy="alumno" name="alumno" formControlName="alumno">
            <option *ngIf="!editForm.get('alumno')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="alumnoOption.id === editForm.get('alumno')!.value?.id ? editForm.get('alumno')!.value : alumnoOption"
              *ngFor="let alumnoOption of alumnosSharedCollection; trackBy: trackAlumnoById"
            >
              {{ alumnoOption.codigo }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['alumno'])!.invalid && (editForm.get(['alumno'])!.dirty || editForm.get(['alumno'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['alumno'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
