.*
!.gitignore
!.yo-rc.json
/target/
/node_modules/
/webpack/
/mvnw*
/npmw*
/*.png
/*.log
/*.json
!/package.json
!.yo-rc.json
/*.xml
!/pom.xml
/*.js
/*.md
/*.js
/*.jar
/*.p12
/*.properties
src/test
src/main/docker
src/main/resources/.h2.server.properties
src/main/resources/banner.txt
src/main/resources/config/*
!src/main/resources/config/application-dev.yml
!src/main/resources/config/application-prod.yml
!src/main/resources/config/application.yml
src/main/resources/config/liquibase/
src/main/resources/i18n/*
src/main/resources/logback-spring.xml
src/main/resources/templates/error.html
src/main/resources/templates/mail/activationEmail.html
src/main/resources/templates/mail/creationEmail.html
src/main/resources/templates/mail/passwordResetEmail.html
src/main/java/com/creinfor/ApplicationWebXml.java
src/main/java/com/creinfor/GeneratedByJHipster.java
src/main/java/com/creinfor/GesconApp.java
src/main/java/com/creinfor/aop/logging/LoggingAspect.java
src/main/java/com/creinfor/config/ApplicationProperties.java
src/main/java/com/creinfor/config/AsyncConfiguration.java
src/main/java/com/creinfor/config/Constants.java
src/main/java/com/creinfor/config/DatabaseConfiguration.java
src/main/java/com/creinfor/config/DateTimeFormatConfiguration.java
src/main/java/com/creinfor/config/JacksonConfiguration.java
src/main/java/com/creinfor/config/LiquibaseConfiguration.java
src/main/java/com/creinfor/config/LocaleConfiguration.java
src/main/java/com/creinfor/config/LoggingAspectConfiguration.java
src/main/java/com/creinfor/config/LoggingConfiguration.java

!src/main/java/com/creinfor/config/SecurityConfiguration.java
src/main/java/com/creinfor/config/StaticResourcesWebConfiguration.java
src/main/java/com/creinfor/config/WebConfigurer.java
src/main/java/com/creinfor/config/package-info.java
src/main/java/com/creinfor/management/SecurityMetersService.java
/src/main/java/com/creinfor/domain/*
!/src/main/java/com/creinfor/domain/ext
/src/main/java/com/creinfor/repository/*
!src/main/java/com/creinfor/repository/ExtraProgramacionRepository.java
src/main/java/com/creinfor/service/*
!src/main/java/com/creinfor/service/UserService.java
!src/main/java/com/creinfor/service/ext/
src/main/java/com/creinfor/service/dto/*
!src/main/java/com/creinfor/service/dto/HorarioInfoDTO.java
src/main/java/com/creinfor/web/rest/*
!src/main/java/com/creinfor/web/rest/ext
!src/main/java/com/creinfor/web/rest/ExtraTransactionsResource.java
!src/main/java/com/creinfor/web/rest/UserResource.java

src/main/java/com/creinfor/security/

src/main/webapp/app/*
src/main/webapp/app/layouts/profiles/page-ribbon.component.scss
src/main/webapp/app/layouts/profiles/page-ribbon.component.spec.ts
src/main/webapp/app/layouts/profiles/page-ribbon.component.ts
src/main/webapp/app/layouts/profiles/profile-info.model.ts
src/main/webapp/app/layouts/profiles/profile.service.ts
src/main/webapp/bootstrap.ts
src/main/webapp/app/layouts/error/error.component.html
src/main/webapp/app/layouts/error/error.component.ts
src/main/webapp/app/layouts/error/error.route.ts


src/main/webapp/app/admin/user-management/*
!src/main/webapp/app/admin/user-management/list/user-management.component.ts
!src/main/webapp/app/admin/user-management/list/user-management.component.html
!src/main/webapp/app/admin/user-management/update/user-management-update.component.ts
!src/main/webapp/app/admin/user-management/update/user-management-update.component.html
!src/main/webapp/app/admin/user-management/service/user-management.service.html

!src/main/webapp/content/imagenes/profiles/*
!src/main/webapp/app/app-routing.module.ts
!src/main/webapp/app/comps
!src/main/webapp/app/core/service/common-validate.service
!src/main/webapp/app/home/home.component.html
!src/main/webapp/app/home/home.component.scss
!src/main/webapp/app/entities/entity-routing.module.ts

src/main/webapp/404.html
src/main/webapp/WEB-INF/web.xml
!src/main/webapp/app/pages/
!src/main/webapp/app/layouts/
!src/main/webapp/app/app-routing.module.ts
src/main/webapp/i18n/*
!src/main/webapp/i18n/es

src/main/webapp/main.ts
src/main/webapp/manifest.webapp
src/main/webapp/polyfills.ts
src/main/webapp/robots.txt
src/main/webapp/swagger-ui/dist/images/throbber.gif
src/main/webapp/swagger-ui/index.html

src/main/webapp/content/images/*
!src/main/webapp/content/images/jhipster_family_member_4*

src/main/webapp/declarations.d.ts