<div>
  <h2 id="page-heading" data-cy="AlumnoCategoriaHeading">
    <span jhiTranslate="gesconApp.alumnoCategoria.home.title">Alumno Categorias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesconApp.alumnoCategoria.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-alumno-categoria"
        [routerLink]="['/alumno-categoria/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesconApp.alumnoCategoria.home.createLabel"> Create a new Alumno Categoria </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="alumnoCategorias?.length === 0">
    <span jhiTranslate="gesconApp.alumnoCategoria.home.notFound">No alumnoCategorias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="alumnoCategorias && alumnoCategorias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoCategoria.licenciaNumeroAlumno">Licencia Numero Alumno</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoCategoria.alumno">Alumno</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoCategoria.categoria">Categoria</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumnoCategoria of alumnoCategorias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/alumno-categoria', alumnoCategoria.id, 'view']">{{ alumnoCategoria.id }}</a>
          </td>
          <td>{{ alumnoCategoria.licenciaNumeroAlumno }}</td>
          <td>
            <div *ngIf="alumnoCategoria.alumno">
              <a [routerLink]="['/alumno', alumnoCategoria.alumno?.id, 'view']">{{ alumnoCategoria.alumno?.codigo }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="alumnoCategoria.categoria">
              <a [routerLink]="['/licencia-categoria', alumnoCategoria.categoria?.id, 'view']">{{
                alumnoCategoria.categoria?.categoria
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/alumno-categoria', alumnoCategoria.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/alumno-categoria', alumnoCategoria.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(alumnoCategoria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
