<form role="form" [formGroup]="formEntity!">
  <div class="row">    
    <div class="col-md-12">
      <div class="col-md-12 border p-3">
        <h4 class="text-muted">Filtros de Busqueda</h4>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label-sm" for="alumCodigo">Categoría</label>
                  <select class="form-control form-control-sm" (change)="onLicCategoriaSel()"
                    formControlName="filterCategoria" [(ngModel)]="filterCategoria">
                    <option *ngFor="let filterCategoria of cacheLicCategorias; let i=index" [ngValue]="filterCategoria" [attr.selected]="i==0 ? true : null">
                      {{filterCategoria.categoria }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label-sm" for="alumCodigo">Desde</label>
                  <input type="date" class="form-control" ngbDatepicker formControlName="filterFechaInicio"
                    [(ngModel)]="filterFechaInicio" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label-sm" for="alumCodigo">Hasta</label>
                  <input type="date" class="form-control" ngbDatepicker formControlName="filterFechaFin"
                    [(ngModel)]="filterFechaFin" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label-sm" for="alumCodigo">Instructor</label>
                  <select class="form-control form-control-sm" formControlName="filterInstructor"
                    [(ngModel)]="filterInstructor" (change)="doLibresFilter()">                    
                    <option *ngFor="let filterInstructor of cacheInstructores; let i=index" [ngValue]="filterInstructor" [attr.selected]="i==0 ? true : null">
                      {{ getInstructorFullname(filterInstructor.id!) }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label-sm" for="autoTipo">Vehículo</label>
                  <select class="form-control form-control-sm" formControlName="filterVehiculo" 
                  [(ngModel)]="filterVehiculo">                    
                    <option *ngFor="let filterVehiculo of cacheVehiculos; let i=index" [ngValue]="filterVehiculo" [attr.selected]="i==0 ? true : null"> 
                      {{ filterVehiculo.placa }} </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex"></div>
        </div>
      </div>
      <div class="col-md-12 border p-3 mt-3">
        <h5 class="text-muted mb-4">Programación</h5>

        <div class="d-flex">
          <div class="btn-group-toggle ms-1" data-toggle="buttons">
            <label class="btn btn-danger" ngbButtonLabel>
              <input type="checkbox" class="btn-check" ngbButton [value]="2"
                (click)="doLibresFilter()" />
              Programados
            </label>
          </div>
          <div class="btn-group-toggle ml-auto ms-1" data-toggle="buttons">
            <label class="btn btn-primary" ngbButtonLabel *ngIf="selHorarioTipo != 2">
              <input type="checkbox" class="btn-check" ngbButton (click)="doHorarioSave()" />
              Registrar Clase(s)
            </label>
          </div>
        </div>
        <div class="table-responsive" id="tblHorarios">
          <table class="table table-sm mt-4" formArrayName="horarios" id="table-to-print">
            <thead>
              <tr>
                <th>ACCION</th>
                <th>DIA</th>
                <th>FECHA</th>
                <th>HORARIO</th>
                <th>INSTRUCTOR</th>
                <th >ALUMNO</th>
                <th>SALIDA</th>
                <th>AUTO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let horario of cacheHorarios; let i = index" [formGroupName]="i"
                [ngClass]="!horario.alumno ? 'text-success' : 'text-danger'">
                <td class="align-middle">
                  <div class="custom-control custom-checkbox" *ngIf="!horario.alumno">
                    <input type="checkbox" class="custom-control-input" id="chkHorarios{{ i }}"
                      formControlName="selected" [(ngModel)]="cacheHorariosInfo[i].selected" />
                    <label class="custom-control-label" for="chkHorarios{{ i }}"></label>
                  </div>
                  <button *ngIf="horario.alumno" type="button" class="btn btn-sm btn-danger"
                    (click)="doHorarioDelete(horario)">
                    <fa-icon [icon]="iconTimes"></fa-icon>
                  </button>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.fechaDia!.format('ddd') }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.fechaDia!.format('DD/MM/YYYY') }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.horarioCatalogo!.horaInicio }}
                    -
                    {{ horario.horarioCatalogo!.horaFin }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ getInstructorFullname(horario.instructor!.id!) }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.activo }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.lugarSalida!.nombre! }}
                  </label>
                </td>
                <td class="align-middle">
                  <label style="margin-bottom: 0rem" for="chkHorarios{{ i }}">
                    {{ horario.automovil!.placa! }} [{{ horario.automovil!.caja! }}]
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 text-right mt-2">
          <button type="button" class="btn btn-sm btn-primary" (click)="doPrintPDF()">
            Exportar a PDF
            <fa-icon [icon]="iconPDF" class="ml-auto"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>