<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dia">
      <h2 data-cy="diaDetailsHeading"><span jhiTranslate="gesconApp.dia.detail.title">Dia</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dia.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.dia.nombre">Nombre</span></dt>
        <dd>
          <span>{{ dia.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.dia.nombreCorto">Nombre Corto</span></dt>
        <dd>
          <span>{{ dia.nombreCorto }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dia', dia.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
