<div>
  <h2 id="page-heading" data-cy="InscripcionAdicionalHeading">
    <span jhiTranslate="gesconApp.inscripcionAdicional.home.title">Inscripcion Adicionals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesconApp.inscripcionAdicional.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscripcion-adicional"
        [routerLink]="['/inscripcion-adicional/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesconApp.inscripcionAdicional.home.createLabel"> Create a new Inscripcion Adicional </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inscripcionAdicionals?.length === 0">
    <span jhiTranslate="gesconApp.inscripcionAdicional.home.notFound">No inscripcionAdicionals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inscripcionAdicionals && inscripcionAdicionals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.imagen">Imagen</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.documento">Documento</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.cantidad">Cantidad</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.costo">Costo</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.inscripcion">Inscripcion</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionAdicional.inscripcionRequisito">Inscripcion Requisito</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inscripcionAdicional of inscripcionAdicionals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inscripcion-adicional', inscripcionAdicional.id, 'view']">{{ inscripcionAdicional.id }}</a>
          </td>
          <td>{{ inscripcionAdicional.descripcion }}</td>
          <td>
            <a *ngIf="inscripcionAdicional.imagen" (click)="openFile(inscripcionAdicional.imagen, inscripcionAdicional.imagenContentType)">
              <img
                [src]="'data:' + inscripcionAdicional.imagenContentType + ';base64,' + inscripcionAdicional.imagen"
                style="max-height: 30px"
                alt="inscripcionAdicional image"
              />
            </a>
            <span *ngIf="inscripcionAdicional.imagen"
              >{{ inscripcionAdicional.imagenContentType }}, {{ byteSize(inscripcionAdicional.imagen) }}</span
            >
          </td>
          <td>{{ inscripcionAdicional.documento }}</td>
          <td>{{ inscripcionAdicional.cantidad }}</td>
          <td>{{ inscripcionAdicional.costo }}</td>
          <td>
            <div *ngIf="inscripcionAdicional.inscripcion">
              <a [routerLink]="['/inscripcion', inscripcionAdicional.inscripcion?.id, 'view']">{{
                inscripcionAdicional.inscripcion?.codigo
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="inscripcionAdicional.inscripcionRequisito">
              <a [routerLink]="['/requisitos-inscripcion', inscripcionAdicional.inscripcionRequisito?.id, 'view']">{{
                inscripcionAdicional.inscripcionRequisito?.nombre
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inscripcion-adicional', inscripcionAdicional.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inscripcion-adicional', inscripcionAdicional.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inscripcionAdicional)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
