<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-inscripcion-pago-heading"
        data-cy="InscripcionPagoCreateUpdateHeading"
        jhiTranslate="gesconApp.inscripcionPago.home.createOrEditLabel"
      >
        Create or edit a Inscripcion Pago
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.formaPago" for="field_formaPago">Forma Pago</label>
          <select class="form-control" name="formaPago" formControlName="formaPago" id="field_formaPago" data-cy="formaPago">
            <option [ngValue]="null">{{ 'gesconApp.InscripcionFormaPago.null' | translate }}</option>
            <option *ngFor="let inscripcionFormaPago of inscripcionFormaPagoValues" [value]="inscripcionFormaPago">
              {{ 'gesconApp.InscripcionFormaPago.' + inscripcionFormaPago | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('formaPago')!.invalid && (editForm.get('formaPago')!.dirty || editForm.get('formaPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('formaPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.documentoPago" for="field_documentoPago">Documento Pago</label>
          <select
            class="form-control"
            name="documentoPago"
            formControlName="documentoPago"
            id="field_documentoPago"
            data-cy="documentoPago"
          >
            <option [ngValue]="null">{{ 'gesconApp.TipoDocumentoVenta.null' | translate }}</option>
            <option *ngFor="let tipoDocumentoVenta of tipoDocumentoVentaValues" [value]="tipoDocumentoVenta">
              {{ 'gesconApp.TipoDocumentoVenta.' + tipoDocumentoVenta | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('documentoPago')!.invalid && (editForm.get('documentoPago')!.dirty || editForm.get('documentoPago')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documentoPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.monto" for="field_monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
          <div *ngIf="editForm.get('monto')!.invalid && (editForm.get('monto')!.dirty || editForm.get('monto')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('monto')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('monto')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('monto')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 10000 }"
            >
              This field cannot be more than 10000.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('monto')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.codigoOP" for="field_codigoOP">Codigo OP</label>
          <input type="text" class="form-control" name="codigoOP" id="field_codigoOP" data-cy="codigoOP" formControlName="codigoOP" />
          <div *ngIf="editForm.get('codigoOP')!.invalid && (editForm.get('codigoOP')!.dirty || editForm.get('codigoOP')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigoOP')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigoOP')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 16 }"
            >
              This field cannot be longer than 16 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.numeroDocumento" for="field_numeroDocumento"
            >Numero Documento</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroDocumento"
            id="field_numeroDocumento"
            data-cy="numeroDocumento"
            formControlName="numeroDocumento"
          />
          <div
            *ngIf="
              editForm.get('numeroDocumento')!.invalid &&
              (editForm.get('numeroDocumento')!.dirty || editForm.get('numeroDocumento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroDocumento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroDocumento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.plazoPago" for="field_plazoPago">Plazo Pago</label>
          <input type="number" class="form-control" name="plazoPago" id="field_plazoPago" data-cy="plazoPago" formControlName="plazoPago" />
          <div *ngIf="editForm.get('plazoPago')!.invalid && (editForm.get('plazoPago')!.dirty || editForm.get('plazoPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('plazoPago')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('plazoPago')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 360 }"
            >
              This field cannot be more than 360.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('plazoPago')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.inscripcion" for="field_inscripcion">Inscripcion</label>
          <select class="form-control" id="field_inscripcion" data-cy="inscripcion" name="inscripcion" formControlName="inscripcion">
            <option *ngIf="!editForm.get('inscripcion')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                inscripcionOption.id === editForm.get('inscripcion')!.value?.id ? editForm.get('inscripcion')!.value : inscripcionOption
              "
              *ngFor="let inscripcionOption of inscripcionsSharedCollection; trackBy: trackInscripcionById"
            >
              {{ inscripcionOption.codigo }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['inscripcion'])!.invalid && (editForm.get(['inscripcion'])!.dirty || editForm.get(['inscripcion'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['inscripcion'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.inscripcionPago.serie" for="field_serie">Serie</label>
          <select class="form-control" id="field_serie" data-cy="serie" name="serie" formControlName="serie">
            <option *ngIf="!editForm.get('serie')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="sucursalSerieOption.id === editForm.get('serie')!.value?.id ? editForm.get('serie')!.value : sucursalSerieOption"
              *ngFor="let sucursalSerieOption of sucursalSeriesSharedCollection; trackBy: trackSucursalSerieById"
            >
              {{ sucursalSerieOption.serie }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['serie'])!.invalid && (editForm.get(['serie'])!.dirty || editForm.get(['serie'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['serie'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
