<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="gesconApp.usuario.detail.title">Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.codigo">Codigo</span></dt>
        <dd>
          <span>{{ usuario.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.codigoSecreto">Codigo Secreto</span></dt>
        <dd>
          <span>{{ usuario.codigoSecreto }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.imagen">Imagen</span></dt>
        <dd>
          <div *ngIf="usuario.imagen">
            <a (click)="openFile(usuario.imagen, usuario.imagenContentType)">
              <img [src]="'data:' + usuario.imagenContentType + ';base64,' + usuario.imagen" style="max-width: 100%" alt="usuario image" />
            </a>
            {{ usuario.imagenContentType }}, {{ byteSize(usuario.imagen) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.user">User</span></dt>
        <dd>
          <span>{{ usuario.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.empleado">Empleado</span></dt>
        <dd>
          <div *ngIf="usuario.empleado">
            <a [routerLink]="['/empleado', usuario.empleado?.id, 'view']">{{ usuario.empleado?.codigo }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.sucursal">Sucursal</span></dt>
        <dd>
          <span *ngFor="let sucursal of usuario.sucursals; let last = last">
            <a [routerLink]="['/sucursal', sucursal?.id, 'view']">{{ sucursal.nombre }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="gesconApp.usuario.computadora">Computadora</span></dt>
        <dd>
          <span *ngFor="let computadora of usuario.computadoras; let last = last">
            <a [routerLink]="['/computadora', computadora?.id, 'view']">{{ computadora.nombre }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
