<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="curso">
      <h2 data-cy="cursoDetailsHeading"><span jhiTranslate="gesconApp.curso.detail.title">Curso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ curso.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.activo">Activo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesconApp.Estado.' + curso.activo }}">{{ curso.activo }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.tipo">Tipo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesconApp.CursoTipo.' + curso.tipo }}">{{ curso.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.nombre">Nombre</span></dt>
        <dd>
          <span>{{ curso.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.nombreCorto">Nombre Corto</span></dt>
        <dd>
          <span>{{ curso.nombreCorto }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ curso.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="gesconApp.curso.imagen">Imagen</span></dt>
        <dd>
          <div *ngIf="curso.imagen">
            <a (click)="openFile(curso.imagen, curso.imagenContentType)">
              <img [src]="'data:' + curso.imagenContentType + ';base64,' + curso.imagen" style="max-width: 100%" alt="curso image" />
            </a>
            {{ curso.imagenContentType }}, {{ byteSize(curso.imagen) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/curso', curso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
