<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" jhiTranslate="gesconApp.usuario.home.createOrEditLabel">
        Create or edit a Usuario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.usuario.codigo" for="field_codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigo')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigo')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 6 }"
            >
              This field cannot be longer than 6 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.usuario.codigoSecreto" for="field_codigoSecreto">Codigo Secreto</label>
          <input
            type="text"
            class="form-control"
            name="codigoSecreto"
            id="field_codigoSecreto"
            data-cy="codigoSecreto"
            formControlName="codigoSecreto"
          />
          <div
            *ngIf="
              editForm.get('codigoSecreto')!.invalid && (editForm.get('codigoSecreto')!.dirty || editForm.get('codigoSecreto')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigoSecreto')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigoSecreto')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 6 }"
            >
              This field cannot be longer than 6 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.usuario.imagen" for="field_imagen">Imagen</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imagenContentType')!.value + ';base64,' + editForm.get('imagen')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imagen')!.value"
              alt="usuario image"
            />
            <div *ngIf="editForm.get('imagen')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imagenContentType')!.value }}, {{ byteSize(editForm.get('imagen')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('imagen', 'imagenContentType', 'file_imagen')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imagen"
              data-cy="imagen"
              (change)="setFileData($event, 'imagen', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="imagen" id="field_imagen" data-cy="imagen" formControlName="imagen" />
          <input
            type="hidden"
            class="form-control"
            name="imagenContentType"
            id="field_imagenContentType"
            formControlName="imagenContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.usuario.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gesconApp.usuario.empleado" for="field_empleado">Empleado</label>
          <select class="form-control" id="field_empleado" data-cy="empleado" name="empleado" formControlName="empleado">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empleadoOption.id === editForm.get('empleado')!.value?.id ? editForm.get('empleado')!.value : empleadoOption"
              *ngFor="let empleadoOption of empleadosCollection; trackBy: trackEmpleadoById"
            >
              {{ empleadoOption.codigo }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gesconApp.usuario.sucursal" for="field_sucursals">Sucursal</label>
          <select class="form-control" id="field_sucursals" data-cy="sucursal" multiple name="sucursals" formControlName="sucursals">
            <option
              [ngValue]="getSelectedSucursal(sucursalOption, editForm.get('sucursals')!.value)"
              *ngFor="let sucursalOption of sucursalsSharedCollection; trackBy: trackSucursalById"
            >
              {{ sucursalOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['sucursals'])!.invalid && (editForm.get(['sucursals'])!.dirty || editForm.get(['sucursals'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['sucursals'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gesconApp.usuario.computadora" for="field_computadoras">Computadora</label>
          <select
            class="form-control"
            id="field_computadoras"
            data-cy="computadora"
            multiple
            name="computadoras"
            formControlName="computadoras"
          >
            <option
              [ngValue]="getSelectedComputadora(computadoraOption, editForm.get('computadoras')!.value)"
              *ngFor="let computadoraOption of computadorasSharedCollection; trackBy: trackComputadoraById"
            >
              {{ computadoraOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
