<div>
  <h2 id="page-heading" data-cy="AlumnoClasesHeading">
    <span jhiTranslate="gesconApp.alumnoClases.home.title">Alumno Clases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesconApp.alumnoClases.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-alumno-clases"
        [routerLink]="['/alumno-clases/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesconApp.alumnoClases.home.createLabel"> Create a new Alumno Clases </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="alumnoClases?.length === 0">
    <span jhiTranslate="gesconApp.alumnoClases.home.notFound">No alumnoClases found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="alumnoClases && alumnoClases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoClases.clasesTotales">Clases Totales</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoClases.clasesProgramadas">Clases Programadas</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.alumnoClases.clasesRealizadas">Clases Realizadas</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumnoClases of alumnoClases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/alumno-clases', alumnoClases.id, 'view']">{{ alumnoClases.id }}</a>
          </td>
          <td>{{ alumnoClases.clasesTotales }}</td>
          <td>{{ alumnoClases.clasesProgramadas }}</td>
          <td>{{ alumnoClases.clasesRealizadas }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/alumno-clases', alumnoClases.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/alumno-clases', alumnoClases.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(alumnoClases)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
