<div>
  <h2 id="page-heading" data-cy="RequisitosInscripcionHeading">
    <span jhiTranslate="gesconApp.requisitosInscripcion.home.title">Requisitos Inscripcions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesconApp.requisitosInscripcion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-requisitos-inscripcion"
        [routerLink]="['/requisitos-inscripcion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesconApp.requisitosInscripcion.home.createLabel"> Create a new Requisitos Inscripcion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="requisitosInscripcions?.length === 0">
    <span jhiTranslate="gesconApp.requisitosInscripcion.home.notFound">No requisitosInscripcions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="requisitosInscripcions && requisitosInscripcions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.activo">Activo</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.obligatorio">Obligatorio</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.nombreCorto">Nombre Corto</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.costo">Costo</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.imagen">Imagen</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.tipoRequisito">Tipo Requisito</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.requisitosInscripcion.valores">Valores</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requisitosInscripcion of requisitosInscripcions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/requisitos-inscripcion', requisitosInscripcion.id, 'view']">{{ requisitosInscripcion.id }}</a>
          </td>
          <td jhiTranslate="{{ 'gesconApp.Estado.' + requisitosInscripcion.activo }}">{{ requisitosInscripcion.activo }}</td>
          <td jhiTranslate="{{ 'gesconApp.SiNo.' + requisitosInscripcion.obligatorio }}">{{ requisitosInscripcion.obligatorio }}</td>
          <td>{{ requisitosInscripcion.nombre }}</td>
          <td>{{ requisitosInscripcion.nombreCorto }}</td>
          <td>{{ requisitosInscripcion.costo }}</td>
          <td>
            <a
              *ngIf="requisitosInscripcion.imagen"
              (click)="openFile(requisitosInscripcion.imagen, requisitosInscripcion.imagenContentType)"
            >
              <img
                [src]="'data:' + requisitosInscripcion.imagenContentType + ';base64,' + requisitosInscripcion.imagen"
                style="max-height: 30px"
                alt="requisitosInscripcion image"
              />
            </a>
            <span *ngIf="requisitosInscripcion.imagen"
              >{{ requisitosInscripcion.imagenContentType }}, {{ byteSize(requisitosInscripcion.imagen) }}</span
            >
          </td>
          <td jhiTranslate="{{ 'gesconApp.RequitisoTipo.' + requisitosInscripcion.tipoRequisito }}">
            {{ requisitosInscripcion.tipoRequisito }}
          </td>
          <td>{{ requisitosInscripcion.valores }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/requisitos-inscripcion', requisitosInscripcion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/requisitos-inscripcion', requisitosInscripcion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(requisitosInscripcion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
