<div>
  <h2 id="page-heading" data-cy="InscripcionDetalleHeading">
    <span jhiTranslate="gesconApp.inscripcionDetalle.home.title">Inscripcion Detalles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesconApp.inscripcionDetalle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscripcion-detalle"
        [routerLink]="['/inscripcion-detalle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesconApp.inscripcionDetalle.home.createLabel"> Create a new Inscripcion Detalle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inscripcionDetalles?.length === 0">
    <span jhiTranslate="gesconApp.inscripcionDetalle.home.notFound">No inscripcionDetalles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inscripcionDetalles && inscripcionDetalles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionDetalle.codigo">Codigo</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionDetalle.fechaInicio">Fecha Inicio</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionDetalle.inscripcion">Inscripcion</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionDetalle.asignatura">Asignatura</span></th>
          <th scope="col"><span jhiTranslate="gesconApp.inscripcionDetalle.horario">Horario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inscripcionDetalle of inscripcionDetalles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inscripcion-detalle', inscripcionDetalle.id, 'view']">{{ inscripcionDetalle.id }}</a>
          </td>
          <td>{{ inscripcionDetalle.codigo }}</td>
          <td>{{ inscripcionDetalle.fechaInicio | formatMediumDate }}</td>
          <td>
            <div *ngIf="inscripcionDetalle.inscripcion">
              <a [routerLink]="['/inscripcion', inscripcionDetalle.inscripcion?.id, 'view']">{{
                inscripcionDetalle.inscripcion?.codigo
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="inscripcionDetalle.asignatura">
              <a [routerLink]="['/asignatura', inscripcionDetalle.asignatura?.id, 'view']">{{ inscripcionDetalle.asignatura?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="inscripcionDetalle.horario">
              <a [routerLink]="['/teoria-horario-catalogo', inscripcionDetalle.horario?.id, 'view']">{{
                inscripcionDetalle.horario?.nombre
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inscripcion-detalle', inscripcionDetalle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inscripcion-detalle', inscripcionDetalle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inscripcionDetalle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
